<html>
    <body>
        <ul>
            <li>
                <a href="@Url.Action("Jquery")">Jquery</a>                
            </li>
            <li>
                <a href="@Url.Action("IML")">IML</a>
            </li>
        </ul>
    </body>
</html>